body{

background-image: url('dark_wood.png');
}
p{


}


h3{
	color: #FFBC00;
	font-size: 40px;
	font-family: 'Passion One', cursive;
	margin-bottom: 0px;


}

li{


}

#Header{ 
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	
	text-align:center;
}

#Header h1{
	font-size: 60px; 
	font-family: 'Passion One', cursive;
	color:#FFBC00;
	font-weight: bold;

}

#LeftNav{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	
	float:left;
	padding-bottom: 8px;
	text-align:center;
}

#LeftNav img{

}

#LeftNav ul{
}

#LeftNav h3{
	color: #FFBC00;
	font-size: 40px;
	font-family: 'Passion One', cursive;
	margin-bottom: 0px;

}

#Content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	
	padding-bottom: 15px;
	text-align:center;
	
	
	
}

ul{
	list-style-type: none;
	padding-left: 0px;
	}

#Footer {
	border:solid 8px black;
	text-align:center;


}

